@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@100&display=swap');

#blu
      {
        background-color:rgb(73, 113, 255, 1) ;
        color: rgb(255, 255, 255);
      }
      .primariga
      {
        height:36;
        text-align: end;
        padding-right: 100px;
      }
      #bianco
      {
          background-color: rgb(255, 255, 255);
          color: rgb(73, 113, 255, 1);
      }
      .secondariga
      {
        height:91;
        text-align: end;
        padding-right:100px ;
      }
      .imglogo
      {
          height:75px;
          length: 172px;
      }
      .text
      {
          padding-left: 200px;
      }
